/* =======-== Body Font configuration =========  */

@font-face {
    font-family: "Inter";
    src: url('../assests/fonts/Inter/static/Inter_18pt-Regular.ttf')format('truetype');
    font-weight:300 ;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('../assests/fonts/Inter/static/Inter_18pt-Medium.ttf')format('truetype');
    font-weight:600 ;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('../assests/fonts/Inter/static/Inter_24pt-Bold.ttf')format('truetype');
    font-weight:700 ;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('../assests/fonts/Inter/static/Inter_24pt-Bold.ttf')format('truetype');
    font-weight:800 ;
    font-style: normal;
    font-display: swap;
}

/*  Hero font - funnelDisplay */
@font-face {
  font-family: 'funnelDisplay';
  src: url('../assests/fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
